<h2 class="page-header">Admin Console</h2>
<br>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link {{#ifEquals updateType null}} active show {{/ifEquals}}{{#ifEquals updateType 'updateUser'}} active show {{/ifEquals}}" data-toggle="tab" href="#home">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifEquals updateType 'updateProject'}} active show {{/ifEquals}}" data-toggle="tab" href="#menu2">Projects</a>
    </li>
</ul>

<div class="tab-content">
    {{#ifEquals updateType 'updateUser'}}
    <div id="home" class="tab-pane fade in active show">
    {{/ifEquals}}
    {{#ifEquals updateType 'updateProject'}}
    <div id="home" class="tab-pane fade in">
    {{/ifEquals}}
    {{#ifEquals updateType null}}
    <div id="home" class="tab-pane fade in active show">
    {{/ifEquals}}
        <br>
        <h3>Users</h3>
        <br>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link {{#ifEquals updateType 'updateProject'}} active show {{/ifEquals}}" data-toggle="tab" href="#register">Register User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#editUser">Edit Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#ifEquals updateType 'updateUser'}} active show {{/ifEquals}}" data-toggle="tab" href="#readUser">User List</a>
            </li>
        </ul>

        <div class="tab-content">

            {{#ifEquals updateType 'updateUser'}}
            <div id="register" class="tab-pane fade in">
            {{/ifEquals}}
            {{#ifEquals updateType 'updateProject'}}
            <div id="register" class="tab-pane fade in active show">
            {{/ifEquals}}
            {{#ifEquals updateType null}}
            <div id="register" class="tab-pane fade in active show">
            {{/ifEquals}}
                <div class="col-6 col-sm-3 placeholder">
            <br>
            <h2 class="page-header">Register User</h2>




            {{#if errors}} {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
            {{/each}} {{/if}}
            <table>
            <tbody>
            <form method="post" class="form-inline" action="/users/register">
                <div class="form-group">
                    <td><label for="firstName">First Name:</label></td>
                    <td><input type="text" class="form-control mb-2" placeholder="First Name" name="firstName" /></td>
                    <br> <br>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Last Name:</label></td>
                    <td><input type="text" class="form-control mb-2" placeholder="Last Name" name="lastName"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Email:</label></td>
                    <td><input type="email" class="form-control mb-2" placeholder="Email" name="email"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Phone Number:</label></td>
                    <td><input type="tel" class="form-control mb-2" placeholder="(123)-456-7890" name="phoneNumber"></td>
                </div>
                </tr>
                <tr>
                
                <div class="form-group">
                    <td><label>Password:</label></td>
                    <td><input title="Password must contain at least 7 characters, include both upper and lowercase letters, and numbers. Special characters are allowed, but not required." type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,25}" class="form-control mb-2" placeholder="Password" name="password" onchange="form.password2.pattern = RegExp.escape(this.value);"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Confirm Password:</label></td>
                    <td><input title="Please enter the same password as above." type="password" class="form-control mb-2" placeholder="Password" name="password2"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Permission Level:</label></td>
                    <td><select class="form-control mb-2" name="permission">
                        <option value="read"> Read </option>
                        <option value="write"> Write </option>
                        <option value="admin"> Admin </option>
                    </select></td>                   
                </div>
                </tr>
                <tr><td>
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Submit</button>
                </td></tr>
            </form>
            </tbody>
            </table>
        </div>
            </div>

            <div id="editUser" class="tab-pane">
                <br><h2>Edit Users</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Permission Level</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    
                    
                       <tbody>
                {{#each results0}}
                <form method="post">
                    <tr>
                        
                        <input type="hidden" class="form-control" id="userID" name="userID" value="{{userID}}">
                            <td>
                                <input type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}"> 
                            </td>
                            <td>
                                <input type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}">
                            </td>
                            <td>
                                <input type="email" class="form-control" id="email" name="email" value="{{email}}"> 
                            </td>
                            <td>
                                <input type="tel" class="form-control" id="cellNumber" name="cellNumber" value="{{cellNumber}}">
                            </td>
                            <td>
                                <select class="form-control" name="permissionLevel" id="permissionLevel">
                                    <option value = "read" {{#ifEquals permissionLevel 'read'}} selected {{/ifEquals}}>Read</option>
                                    <option value = "write" {{#ifEquals permissionLevel 'write'}} selected {{/ifEquals}}>Write</option>
                                    <option value = "admin" {{#ifEquals permissionLevel 'admin'}} selected {{/ifEquals}}>Admin</option>
                                </select>
                                
                            </td>
                            <td>
                                <button type="submit" name="actionType" class="form-control" value="Update" formAction="/admin/updateUser">Update</button>
                            </td>
                            <td>
                                <button type="submit" name="actionType" class="form-control" value="Delete" formAction="/admin/deleteUser">Delete</button>
                            </td>
                    </tr>
                </form>
                {{/each}}
            </tbody>
                    
                    
                </table>
            </div>
            {{#ifEquals updateType 'updateUser'}}
             <div id="readUser" class="tab-pane fade in active show">
            {{/ifEquals}}
            {{#ifEquals updateType 'updateProject'}}
            <div id="readUser" class="tab-pane fade in">
            {{/ifEquals}}
            {{#ifEquals updateType null}}
            <div id="readUser" class="tab-pane fade in">
            {{/ifEquals}}
                <table id="usersTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="pointer" onclick="sortTable(0, 'usersTable')">First Name</th>
                            <th class="pointer" onclick="sortTable(1, 'usersTable')">Last Name</th>
                            <th class="pointer" onclick="sortTable(2, 'usersTable')">Email</th>
                            <th class="pointer" onclick="sortTable(3, 'usersTable')">Phone Number</th>
                            <th class="pointer" onclick="sortTable(4, 'usersTable')">Permission Level</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        {{#each results0}}
                        <tr>                        
                            <td>{{firstName}}</td>
                            <td>{{lastName}}</td>
                            <td>{{email}}</td>
                            <td>{{cellNumber}}</td>
                            <td>{{permissionLevel}}</td>
                        </tr>
                        {{/each}}
                    </tbody>     
                </table>
            </div>
        </div>
        
    </div>
    {{#ifEquals updateType 'updateProject'}}
    <div id="menu2" class="tab-pane fade in active show">
    {{else}}
    <div id="menu2" class="tab-pane fade in">
    {{/ifEquals}}
        <br>
        <h3>Projects</h3>
        <br>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link  {{#ifEquals updateType 'updateUser'}} active show {{/ifEquals}}" data-toggle="tab" href="#registerProject">Register Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#editProject">Edit Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {{#ifEquals updateType 'updateProject'}} active show {{/ifEquals}}" data-toggle="tab" href="#readProject">Project List</a>
            </li>
        </ul>

        <div class="tab-content">

            {{#ifEquals updateType 'updateUser'}}
            <div id="registerProject" class="tab-pane fade in active show">
            {{/ifEquals}}
            {{#ifEquals updateType 'updateProject'}}
            <div id="registerProject" class="tab-pane fade in">
            {{/ifEquals}}
            {{#ifEquals updateType null}}
            <div id="registerProject" class="tab-pane fade in active show">
            {{/ifEquals}}
                 <div class="col-6 col-sm-3 placeholder">
            
            <br>
            <h2 class="page-header">Register Project</h2>




            {{#if errors}} {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
            {{/each}} {{/if}}
            <table>
            <tbody>
            <form method="post" class="form-inline" action="/admin/registerProject">
                <tr>
                <div class="form-group">
                    <td><label>Client Name:</label></td>
                    <td><input type="text" class="form-control mb-2" placeholder="Client Name" name="clientName"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Project Name:</label></td>
                    <td><input type="text" class="form-control mb-2" placeholder="Project Name" name="projectName"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Project #:</label></td>
                    <td><input type="text" class="form-control mb-2" placeholder="Project Number" name="projectNumber"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Location:</label></td>
                    <td><input type="text" class="form-control mb-2" placeholder="Location" name="location"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Target Start Date:</label></td>
                    <td><input type="date" class="form-control mb-2" name="targetStartDate"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Target Completion Date:</label></td>
                    <td><input type="date" class="form-control mb-2" name="targetCompletionDate"></td>
                </div>
                </tr>
                <tr>
                <div class="form-group">
                    <td><label>Service Type: </label></td>
                    <td><select class="form-control" name="serviceType">
                        <option value = "Consulting">Consulting</option>
                        <option value = "Project Management">Project Management</option>
                        <option value = "Construction Management">Construction Management</option>
                    </select> </td>
                </div>
                </tr>
                <tr><td>
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Submit</button>
                </td>
                </tr>
            </form>
            </tbody>
            </table>
        
        </div>
        </div>

            <div id="editProject" class="tab-pane">
                <br><h2>Edit Projects</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Open?</th>
                            <th>Client Name</th>
                            <th>Project Name</th>
                            <th>Project #</th>
                            <th>Location</th>
                            <th>Service Type</th>
                            <th>Target Start Date</th>
                            <th>Target Completion Date</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    
                    
                       <tbody>
                {{#each results}}
                <form method="post">
                    <tr>
                        
                        <input type="hidden" class="form-control" id="userID" name="projectID" value="{{projectID}}">
                            <td>
                                <select class="form-control" name="openProject" id="openProject">
                                    <option value = "open" {{#ifEquals openProject 'open'}}selected="selected"{{/ifEquals}}>Open</option>
                                    <option value = "closed" {{#ifEquals openProject 'closed'}}selected="selected"{{/ifEquals}}>Closed</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="clientName" name="clientName" value="{{clientName}}"> 
                            </td>
                            <td>
                                <input type="text" class="form-control" id="projectName" name="projectName" value="{{projectName}}">
                            </td>
                            <td>
                                <input type="text" class="form-control" id="projectNumber" name="projectNumber" value="{{projectNumber}}">
                            </td>
                            <td>
                                <input type="text" class="form-control" id="location" name="location" value="{{location}}"> 
                            </td>
                            <td>
                                <select class="form-control" name="serviceType">
                                    <option value = "Consulting" {{#ifEquals serviceType 'Consulting'}}selected="selected"{{/ifEquals}}>Consulting</option>
                                    <option value = "Project Management" {{#ifEquals serviceType 'Project Management'}}selected="selected"{{/ifEquals}}>Project Management</option>
                                    <option value = "Construction Management" {{#ifEquals serviceType 'Construction Management'}}selected="selected"{{/ifEquals}}>Construction Management</option>
                                </select>
                            </td>
                            
                            <td>
                                <input type="date" class="form-control" id="targetStartDate" name="targetStartDate" value="{{#if targetStartDate}}{{formatTime targetStartDate "YYYY-MM-DD"}}{{/if}}">
                            </td>
                            
                            <td>
                                <input type="date" class="form-control" id="targetStartDate" name="targetCompletionDate" value="{{#if targetCompletionDate}}{{formatTime targetCompletionDate "YYYY-MM-DD"}}{{/if}}">
                            </td>
                            <td>
                                <button type="submit" name="actionType" class="form-control" value="Update" formAction="/admin/updateProject">Update</button>
                            </td>
                            <td>
                                <button type="submit" name="actionType" class="form-control" value="Delete" formAction="/admin/deleteProject">Delete</button>
                            </td>
                        </tr>
                        </form>
                    {{/each}}
                    </tbody>   
                </table>
            </div>

            {{#ifEquals updateType 'updateUser'}}
            <div id="readProject" class="tab-pane fade in">
            {{/ifEquals}}
            {{#ifEquals updateType null}}
            <div id="readProject" class="tab-pane fade in">
            {{/ifEquals}}
            {{#ifEquals updateType 'updateProject'}}
            <div id="readProject" class="tab-pane fade in active show">
            {{/ifEquals}}
                <table id="projectsTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="pointer" onclick="sortTable(0, 'projectsTable')">Open?</th>
                            <th class="pointer" onclick="sortTable(0, 'projectsTable')">Client Name</th>
                            <th class="pointer" onclick="sortTable(1, 'projectsTable')">Project Name</th>
                            <th class="pointer" onclick="sortTable(2, 'projectsTable')">Project #</th>
                            <th class="pointer" onclick="sortTable(2, 'projectsTable')">Location</th>
                            <th class="pointer" onclick="sortTable(3, 'projectsTable')">Service Type</th>
                            <th class="pointer" onclick="sortTable(4, 'projectsTable')">Target Start Date</th>
                            <th class="pointer" onclick="sortTable(5, 'projectsTable')">Target Completion Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each results}}                  
                        <tr>
                            <td>{{openProject}}</td>
                            <td>{{clientName}}</td>
                            <td>{{projectName}}</td>
                            <td>{{projectNumber}}</td>
                            <td>{{location}}</td>
                            <td>{{serviceType}}</td>                           
                            <td>{{#if targetStartDate}}{{formatTime targetStartDate "MM/DD/YYYY"}}{{/if}}</td>                           
                            <td>{{#if targetCompletionDate}}{{formatTime targetCompletionDate "MM/DD/YYYY"}}{{/if}}</td>
                        </tr>                       
                    {{/each}}
                    </tbody>   
                </table>
            </div>
        </div>       
    </div>
</div>

<script type="text/javascript">
    if(!RegExp.escape) {
        RegExp.escape = function(s) {
            return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
        };
    }
</script>