<nav>   
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_projectoverview">Project Overview</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_projectactivities">Project Activities</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_actionitem">KMS Action Items</a></button>
          </li>                
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_externalactionitem">External Action Items</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_costsummary">Cost Summary</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_pcolog">PCO Log</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_clientreport">Client Report</a></button>
          </li>
        </ul>
</nav>


<table class="table-responsive">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Project Name</th>
            <th>Location</th>
            <th>Target Start Date</th>
            <th>Target Completion Date</th>
            <th>Projected Budget</th>
            <th>Service Type</th>
        </tr>
    </thead>
    <tbody>
           
        {{#each results}}
        <tr>
            <td>{{clientName}}</td>
            <td>{{projectName}}</td>
            <td>{{location}}</td>
            <td>{{formatDate targetStartDate}}</td>
            <td>{{formatDate targetCompletionDate}}</td>
            <td>${{formatNumber projectedBudget price="USD"}}</td>
            <td>{{serviceType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="handlebars/dist/handlebars.min.js"></script>
<script src="handlebars-intl/dist/handlebars-intl.min.js"></script>