<nav>   
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_projectoverview">Project Overview</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_projectactivities">Project Activities</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_actionitem">KMS Action Items</a></button>
          </li>                
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_externalactionitem">External Action Items</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_costsummary">Cost Summary</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_pcolog">PCO Log</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_clientreport">Client Report</a></button>
          </li>
        </ul>
</nav>

<table class="table-responsive">
    <thead>
        <tr>
            <th>PCO Number</th>
            <th>PCO Description</th>
            <th>Due Date</th>
            <th>To KMS Date</th>
            <th>KMS Reviewed Date</th>
            <th>Bank Approved Date</th>
            <th>PCO Value</th>
            <th>Contingency Amount</th>
            <th>Cost Savings Amount</th>
            <th>Change Orders</th>
            <th>Status</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
           
        {{#each results}}
        <tr>
            <td>{{pcoNumber}}</td>
            <td>{{pcoDescription}}</td>
            <td>{{formatDate toKMSDate}}</td>
            <td>{{formatDate kmsReviewDate}}</td>
            <td>${{formatNumber pcoValue price="USD"}}</td>
            <td>${{formatNumber contingencyAmount price="USD"}}</td>
            <td>${{formatNumber costSavingsAmount price="USD"}}</td>
            <td>{{changeOrders}}</td>
            <td>{{status}}</td>
            <td>{{comments}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>