<nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <a href="/projects/details_projectoverview" >Project Overview</a>
          </li>
          <li role="presentation" class="active">
            <a href="/projects/details_projectactivities" >Project Activities</a>
          </li>
          <li role="presentation" class="active">
            <a href="/projects/details_actionitem" >KMS Action Items</a>
          </li>                
          <li role="presentation" class="active">
            <a href="/projects/details_externalactionitem">External Action Items</a>
          </li>
          <li role="presentation" class="active">
            <a href="/projects/details_costsummary">Cost Summary</a>
          </li>
          <li role="presentation" class="active">
            <a href="/projects/details_pcolog">PCO Log</a>
          </li>
          <li role="presentation" class="active">
            <a href="/projects/details_clientreport">Client Report</a>
          </li>
        </ul>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>PCO Number</th>
            <th>PCO Description</th>
            <th>Due Date</th>
            <th>To KMS Date</th>
            <th>KMS Reviewed Date</th>
            <th>Bank Approved Date</th>
            <th>PCO Value</th>
            <th>Contingency Amount</th>
            <th>Cost Savings Amount</th>
            <th>Change Orders</th>
            <th>Status</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
           
        {{#each results}}
        <tr>
            <td>{{pcoNumber}}</td>
            <td>{{pcoDescription}}</td>
            <td>{{toKMSDate}}</td>
            <td>{{kmsReviewdDate}}</td>
            <td>{{pcoValue}}</td>
            <td>{{contingencyAmount}}</td>
            <td>{{costSavingsAmount}}</td>
            <td>{{changeOrders}}</td>
            <td>{{status}}</td>
            <td>{{comments}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>