<nav>   
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_projectoverview">Project Overview</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_projectactivities">Project Activities</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_actionitem">KMS Action Items</a></button>
          </li>                
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_externalactionitem">External Action Items</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_costsummary">Cost Summary</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_pcolog">PCO Log</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_clientreport">Client Report</a></button>
          </li>
        </ul>
</nav>

<table class="table-responsive">
    <thead>
        <tr>
            <th>Division Category</th>
            <th>Line Item</th>
            <th>Line Item Totals</th>
            <th>Budget</th>
            <th>Committed</th>
            <th>Change Orders</th>
            <th>Anticipated Cost</th>
            <th>Variance</th>
            <th>Actual Cost To Date</th>
            <th>Dollars Remaining</th>
        </tr>
    </thead>
    <tbody>
           
        {{#each results}}
        <tr>
            <td>{{divisionCategory}}</td>
            <td>{{lineItem}}</td>
            <td>{{lineItemTotals}}</td>
            <td>{{budget}}</td>
            <td>{{committed}}</td>
            <td>{{changeOrders}}</td>
            <td>{{anticipatedCost}}</td>
            <td>{{variance}}</td>
            <td>{{dollarsRemaining}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>