<nav>   
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_projectoverview">Project Overview</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_projectactivities">Project Activities</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_actionitem">KMS Action Items</a></button>
          </li>                
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_externalactionitem">External Action Items</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_costsummary">Cost Summary</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-active"><a href="/projects/details_pcolog">PCO Log</a></button>
          </li>
          <li role="presentation" class="active">
            <button type="button" class="btn btn-info"><a href="/projects/details_clientreport">Client Report</a></button>
          </li>
        </ul>
</nav>

<table class="table-responsive">
    <thead>
        <tr>
            <th>Activity Description</th>
            <th>Target Start Date</th>
            <th>Actual Start Date</th>
            <th>Target Completion Date</th>
            <th>Actual Completion Date</th>
            <th>Progress</th>
            <th>Activity Notes</th>
        </tr>
    </thead>
    <tbody>
           
        {{#each results}}
        <tr>
            <td>{{activityDescription}}</td>
            <td>{{targetStartDate}}</td>
            <td>{{actualStartDate}}</td>
            <td>{{targetCompletionDate}}</td>
            <td>{{actualCompletionDate}}</td>
            <td>{{progress}}</td>
            <td>{{activityNotes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>