
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  
{{#each results1}}
    <input type= "hidden" name="totalTarget", id="totalTarget" value="{{totalTarget}}">
    <input type= "hidden" name="totalActual", id="totalActual" value="{{totalActual}}">
{{/each}}

<section class="row text-left">

    <div class="col-sm-5 placeholder" style="border-style: double; margin: 10px;">
        <br>
        <h4>KMS Action Items</h4>
        <br>
        <table style="table-layout:fixed; width:100%" class="table table-sm">
        <thead>
            <th>Project Name</th>
            <th>Action Item</th>
            <th>Target Completion</th>
        </thead>
        <tbody>
        {{#each results0}}
        <form action= "/projects/project_details" method="POST">
        <tr>
            <input type= "hidden" name="projectID", id="projectID" value="{{projectID}}">
            <td><input style="width:100%" class="btn btn-info my-2 my-sm-0" type="submit" value="{{projectName}}" /></td> 
            <td>{{actionItemDescription}}</td> 
            <td>{{#if targetCompletionDate}}{{formatDate targetCompletionDate}}{{/if}}</td>
        </tr>
        </form>
        {{/each}}
        </tbody>
        </table>
        
        <br>
    </div>



    <div class="col-sm-5 placeholder" style="border-style: double; margin: 10px;">
        <br>
        <h4>External Action Items</h4>
        <table style="table-layout:fixed; width:100%" class="table table-sm">
        <thead>
            <th>Project Name</th>
            <th>Action Item</th>
            <th>Target Completion</th>
        </thead>
        {{#each results}}
        <form action= "/projects/project_details" method="POST">
        <tr>
            <input type= "hidden" name="projectID", id="projectID" value="{{projectID}}">
            <td><input style="width:100%" class="btn btn-primary my-2 my-sm-0" type="submit" value="{{projectName}}" /></td> 
            <td>{{actionItemDescription}}</td> 
            <td>{{formatDate targetCompletionDate}}</td>
        </tr>
        </form>
        {{/each}}
        </table>
        <br>
    </div>
</section>



