
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  


{{#each results1}}
    <input type= "hidden" name="complete", id="complete" value="{{complete}}">
    <input type= "hidden" name="inProgress", id="inProgress" value="{{inProgress}}">
    <input type= "hidden" name="notStarted", id="notStarted" value="{{notStarted}}">
{{/each}}

{{#each results2}}
    <input type= "hidden" name="complete2", id="complete2" value="{{complete}}">
    <input type= "hidden" name="inProgress2", id="inProgress2" value="{{inProgress}}">
    <input type= "hidden" name="notStarted2", id="notStarted2" value="{{notStarted}}">
{{/each}}


<script type="text/javascript">
window.onload = function() {
CanvasJS.addColorSet("kmsTone",
    [
    "#333333",
    "#0698D5",
    "#AAC998"
    ]);

var complete = $('#complete').val();
var inProgress = $('#inProgress').val();
var notStarted = $('#notStarted').val();

var complete2 = $('#complete2').val();
var inProgress2 = $('#inProgress2').val();
var notStarted2 = $('#notStarted2').val();




var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
    colorSet: "kmsTone",
	title: {
        fontFamily: "tahoma",
		text: "Status of KMS Action Items in Open Projects"
	},
	data: [{
		type: "pie",
		startAngle: 270,
		indexLabel: "{label} {y}",
		dataPoints: [
            {y: notStarted, label: "Not Started"},
			{y: inProgress, label: "In Progress"},
			{y: complete, label: "Completed"}
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
    colorSet: "kmsTone",
	title: {
        fontFamily: "tahoma",
		text: "Status of External Action Items in Open Projects"
	},
	data: [{
		type: "pie",
		startAngle: 270,
		indexLabel: "{label} {y}",
		dataPoints: [
            {y: notStarted2, label: "Not Started"},
			{y: inProgress2, label: "In Progress"},
			{y: complete2, label: "Completed"}
		]
	}]
});

chart.render();


}
</script>

<div class="row" style="margin-right: 200px;">
<div id="chartContainer1" style="width: 50%; height: 400px;float:left;"></div> 
<div id="chartContainer2" style="width: 50%; height: 400px;"></div> </br>
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<section class="row text-left">

    <div class="col-sm-5 placeholder" style="border-radius: 15px; border: 2px solid #BFBFBF; padding: 10px;  margin: 10px; overflow: scroll; height: 500px;">
        <br>
        <h4>KMS Action Items</h4>
        <br>

        <form action="/" method="POST">
            <select class="form-control" name="dateRange" id="dateRange" onchange="this.form.submit()">
            <option value="thisWeek" {{#ifEquals updateType 'thisWeek'}}selected {{/ifEquals}}>Due This Week </option>
            <option value="thisWeek2" {{#ifEquals updateType 'thisWeek2'}}selected {{/ifEquals}}>Due This 2 Weeks</option>
            <option value="thisMonth" {{#ifEquals updateType 'thisMonth'}}selected {{/ifEquals}}>Due This Month</option>
            <option value="pastDue" {{#ifEquals updateType 'pastDue'}}selected {{/ifEquals}}>Past Due</option>
            </select>
        </form>
        <br>
        <table style="table-layout:fixed; width:100%" class="table table-sm">
        <thead>
            <th>Project Name</th>
            <th>Action Item</th>
            <th>Target Completion</th>
        </thead>
        <tbody>
        {{#each results0}}
        <form action= "/projects/project_details" method="POST">
        <tr>
            <input type= "hidden" name="projectID", id="projectID" value="{{projectID}}">
            <td><input style="width:100%" class="btn btn-info my-2 my-sm-0" type="submit" value="{{projectName}}" /></td> 
            <td>{{actionItemDescription}}</td> 
            <td>{{#if targetCompletionDate}}{{formatTime targetCompletionDate "MM/DD/YYYY"}}{{/if}}</td>
        </tr>
        </form>
        {{/each}}
        </tbody>
        </table>
        
        <br>
    </div>



    <div class="col-sm-5 placeholder" style="border-radius: 15px; border: 2px solid #BFBFBF; padding: 10px;  margin: 10px; overflow: scroll; height: 500px;">
        <br>
        <h4>External Action Items</h4>
        <br>
        <form action="/" method="POST">        
            <select class="form-control" name="dateRange" id="dateRange" onchange="this.form.submit()">
            <option value="thisWeek" {{#ifEquals updateType 'thisWeek'}}selected {{/ifEquals}}>Due This Week</option>
            <option value="thisWeek2" {{#ifEquals updateType 'thisWeek2'}}selected {{/ifEquals}}>Due This 2 Weeks</option>
            <option value="thisMonth" {{#ifEquals updateType 'thisMonth'}}selected {{/ifEquals}}>Due This Month</option>
            <option value="pastDue" {{#ifEquals updateType 'pastDue'}}selected {{/ifEquals}}>Past Due</option>
            </select>
        </form>
        <br>
        <table style="table-layout:fixed; width:100%" class="table table-sm">
        <thead>
            <th>Project Name</th>
            <th>Action Item</th>
            <th>Target Completion</th>
        </thead>
        {{#each results}}
        <form action= "/projects/project_details" method="POST">
        <tr>
            <input type= "hidden" name="projectID", id="projectID" value="{{projectID}}">
            <td><input style="width:100%" class="btn btn-primary my-2 my-sm-0" type="submit" value="{{projectName}}" /></td> 
            <td>{{actionItemDescription}}</td> 
            <td>{{formatTime targetCompletionDate "MM/DD/YYYY"}}</td>
        </tr>
        </form>
        {{/each}}
        </table>
        <br>
    
    </div>
</section>
