
{{#ifEquals permissionLevel 'admin'}}
<button type="button" class="btn btn-active"><a href="/projects/allOpenProjects">All Open Projects</a></button>
<button type="button" class="btn btn-active"><a href="/projects/allClosedProjects">All Closed Projects</a></button>
{{/ifEquals}}
<button type="button" class="btn btn-active"><a href="/projects/myOpenProjects">My Open Projects</a></button>
<button type="button" class="btn btn-active"><a href="/projects/myClosedProjects">My Closed Projects</a></button>
<br> <br>


<form class="form-inline mt-2 mt-md-0" action="/projects/searchProject" method="POST">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchForm">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>
<br>

{{#ifEquals updateType 'allOpenProjects'}}<h2 class="page-header">All Open Projects</h2>{{/ifEquals}}
{{#ifEquals updateType 'allClosedProjects'}}<h2 class="page-header">All Closed Projects</h2>{{/ifEquals}}
{{#ifEquals updateType 'myOpenProjects'}}<h2 class="page-header">My Open Projects</h2>{{/ifEquals}}
{{#ifEquals updateType 'myClosedProjects'}}<h2 class="page-header">My Closed Projects</h2>{{/ifEquals}}
<br>
<section class="row text-left">
{{#each results}}

<div class="col-6 col-sm-3 placeholder" style="border-radius: 15px; border: 2px solid #BFBFBF; padding: 10px;  margin: 10px; ">
      <br>
      <h4>Project Number: {{projectnumber}}</h4>
      <h4>Project Name: {{projectName}}</h4>
        <div class="text-muted" name="{{projectID}}" value="{{projectID}}">
          <strong>Client Name:</strong> {{clientName}} <br>
          <strong>Location:</strong> {{location}} <br>
          <strong>Service Type:</strong> {{serviceType}} <br>
          <strong>Budget:</strong> ${{#if projectedBudget}}{{formatNumber projectedBudget price="USD"}}{{/if}} <br>
          <strong>Contract Amount:</strong> ${{#if contractAmount}}{{formatNumber contractAmount price="USD"}}{{/if}} <br>
          <span style="text-transform: uppercase; {{#ifEquals openProject 'open'}} color: #006314; {{/ifEquals}}{{#ifEquals openProject 'closed'}} color: #a50101; {{/ifEquals}}"><strong style="text-transform: capitalize;">Status:&nbsp;</strong>{{openProject}}</span> <br>
          <br>           
        </div>
      <form action= "/projects/project_details" method="POST">
        <input type= "hidden" name="projectID", id="projectID" value="{{projectID}}">
        <button style="max-width: 100%; word-wrap: break-word; display: block; margin: 0 auto;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Select Project</button>
      </form>
  </div>
           
{{/each}}
</section>

{{#ifEquals counter null}}
<form action= "{{#ifEquals updateType 'searchProjects'}}/projects/searchProject{{/ifEquals}}{{#ifEquals updateType null}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allOpenProjects'}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allClosedProjects'}}/projects/allClosedProjects{{/ifEquals}}{{#ifEquals updateType 'myOpenProjects'}}/projects/myOpenProjects{{/ifEquals}}{{#ifEquals updateType 'myClosedProjects'}}/projects/myClosedProjects{{/ifEquals}}" method="POST">
        <input type= "hidden" name="forwardType", id="forwardType" value="next">
        <button style="max-width: 100%; word-wrap: break-word; display: block; margin: 0 auto;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Next</button>
</form>
{{/ifEquals}}
{{#ifEquals counter 0}}
  <form action= "{{#ifEquals updateType 'searchProjects'}}/projects/searchProject{{/ifEquals}}{{#ifEquals updateType null}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allOpenProjects'}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allClosedProjects'}}/projects/allClosedProjects{{/ifEquals}}{{#ifEquals updateType 'myOpenProjects'}}/projects/myOpenProjects{{/ifEquals}}{{#ifEquals updateType 'myClosedProjects'}}/projects/myClosedProjects{{/ifEquals}}" method="POST">
        <input type= "hidden" name="forwardType", id="forwardType" value="next">
        <button style="max-width: 100%; word-wrap: break-word; display: block; margin: 0 auto;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Next</button>
</form>   
{{/ifEquals}}

{{#ifGreater counter 0}}
{{#ifGreater rowsAffected 0}}
{{#ifLess rowsAffected 6}}

{{else}}
<form action= "{{#ifEquals updateType 'searchProjects'}}/projects/searchProject{{/ifEquals}}{{#ifEquals updateType null}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allOpenProjects'}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allClosedProjects'}}/projects/allClosedProjects{{/ifEquals}}{{#ifEquals updateType 'myOpenProjects'}}/projects/myOpenProjects{{/ifEquals}}{{#ifEquals updateType 'myClosedProjects'}}/projects/myClosedProjects{{/ifEquals}}" method="POST">
        <input type= "hidden" name="forwardType", id="forwardType" value="next">
        <button style="max-width: 100%; word-wrap: break-word; display: block; margin: 0 auto;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Next</button>
</form> <br>
{{/ifLess}}
{{/ifGreater}}
<form action= "{{#ifEquals updateType 'searchProjects'}}/projects/searchProject{{/ifEquals}}{{#ifEquals updateType null}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allOpenProjects'}}/projects/allOpenProjects{{/ifEquals}}{{#ifEquals updateType 'allClosedProjects'}}/projects/allClosedProjects{{/ifEquals}}{{#ifEquals updateType 'myOpenProjects'}}/projects/myOpenProjects{{/ifEquals}}{{#ifEquals updateType 'myClosedProjects'}}/projects/myClosedProjects{{/ifEquals}}" method="POST">
        <input type= "hidden" name="forwardType", id="forwardType" value="previous">
        <button style="max-width: 100%; word-wrap: break-word; display: block; margin: 0 auto;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Previous</button>
</form>

{{/ifGreater}}
     
<script src="handlebars/dist/handlebars.min.js"></script>
<script src="handlebars-intl/dist/handlebars-intl.min.js"></script>