
<button type="button" class="btn btn-active"><a href="/projects/myProjects">My Projects</a></button>
<button type="button" class="btn btn-active"><a href="/projects/project" style="text-decoration: none;">All Projects</a></button>
<br> <br>


<form class="form-inline mt-2 mt-md-0" action="/projects/searchProject" method="POST">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchForm">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<section class="row text-left">
{{#each results}}

<div class="col-6 col-sm-3 placeholder" style="border-style: double; margin: 10px;">
          <br>

          <form action= "/projects/project_details" method="POST">
                  <input type= "hidden" name="projectID", id="projectID" value="{{projectID}}">
                  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Select Project</button>
          </form>

          <br>

          <h4>Project Name: {{projectName}}</h4>
          <div class="text-muted" name="{{projectID}}" value="{{projectID}}">
              <strong>Client Name:</strong> {{clientName}} <br>
              <strong>Location:</strong> {{location}} <br>
              <strong>Service Type:</strong> {{serviceType}} <br>
              <strong>Budget:</strong> ${{#if projectedBudget}}{{formatNumber projectedBudget price="USD"}}{{/if}} <br>
              <strong>Contract Amount:</strong> ${{#if contractAmount}}{{formatNumber contractAmount price="USD"}}{{/if}} <br>
              <br>           
        </div>
      <br>
  </div>
           
{{/each}}
</section>

<script src="handlebars/dist/handlebars.min.js"></script>
<script src="handlebars-intl/dist/handlebars-intl.min.js"></script>