
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone #</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
           
        {{#each results}}
        <tr>
            <td>{{email}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{cellNumber}}</td>
            <td>{{password}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

